<mat-nav-list>
  <h3 mat-subheader>項目</h3>
  <mat-list-item [routerLink]="['/project']" (click)="onRouteClick()">
    <mat-icon svgIcon="projects" mat-list-icon></mat-icon>
    <span mat-line>項目首頁</span>
    <span mat-line mat-subheader>查看您的所有项目</span>
  </mat-list-item>

  <h3 mat-subheader>日歷</h3>
  <mat-list-item [routerLink]="['/tasklist']" (click)="onRouteClick()">
    <mat-icon svgIcon="month" mat-list-icon></mat-icon>
    <span mat-line>月表</span>
    <span mat-line mat-subheader>按月查看您的任務</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon svgIcon="week" mat-list-icon></mat-icon>
    <span mat-line>周表</span>
    <span mat-line mat-subheader>按周查看您的任務</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon svgIcon="day" mat-list-icon></mat-icon>
    <span mat-line>日表</span>
    <span mat-line mat-subheader>按日查看您的任務</span>
  </mat-list-item>
</mat-nav-list>
