<form>
  <h3 mat-dialog-title>{{ title }}：</h3>
  <mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="請輸入項目名稱" />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="請輸入項目描述" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="onSaveButtonClick()"
    >
      保存
    </button>
    <button mat-dialog-close mat-raised-button type="button">關閉</button>
  </mat-dialog-actions>
</form>
