<form>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>註冊</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="請輸入姓名" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="請輸入信箱" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="請輸入密碼" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="請再次輸入密碼" />
      </mat-form-field>
      <mat-grid-list cols="6" rowsHeight="1:1">
        <mat-grid-tile *ngFor="let item of items">
          <mat-icon [svgIcon]="item"></mat-icon>
        </mat-grid-tile>
      </mat-grid-list>
      <button mat-raised-button type="button" color="accent">提交</button>
    </mat-card-content>

    <mat-card-actions class="text-right">
      <p>已經有帳號？<a href="">登入</a></p>
      <p>忘記密碼？<a href="">找回密碼</a></p>
    </mat-card-actions>
  </mat-card>
</form>
