<div class="task-lists">
  <app-task-list
    *ngFor="let list of lists$ | async"
    class="list-container"
    [style]="{ order: list.order }"
    [appDraggable]="true"
    [dragTag]="'task-list'"
    [dragData]="list"
    [draggedClass]="'drag-start'"
    appDroppable
    [dropTags]="['task-item', 'task-list']"
    [dragEnterClass]="'drag-enter'"
    (dropEmt)="onDrop($event, list)"
  >
    <app-task-header
      [header]="list.name"
      (newTaskEmt)="onNewTask()"
      (moveTaskEmt)="onMoveTask()"
      (deleteTaskEmt)="onDeleteTask(list)"
      (editTaskListEmt)="onEditTaskList(list)"
    ></app-task-header>
    <app-quick-task (quickTaskEmt)="onQuickTask($event)"></app-quick-task>

    <app-task-item
      *ngFor="let task of list.tasks"
      [item]="task"
      (taskItemClickEmt)="onTaskClick(task)"
    ></app-task-item>
  </app-task-list>
</div>
<button mat-fab class="fab-button" (click)="onNewTaskList($event)">
  <mat-icon>add</mat-icon>
</button>
