<form [formGroup]="form" (ngSubmit)="onSubmit($event, form)">
  <h3 mat-dialog-title>移動列表所有內容：</h3>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-select placeholder="請選擇目標列表" formControlName="targetListId">
        <mat-option *ngFor="let list of lists" [value]="list.id">{{
          list.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-dialog-actions>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    >
      保存
    </button>
    <button type="button" mat-dialog-close mat-button>關閉</button>
  </mat-dialog-actions>
</form>
