<div matSubheader class="header-container">
  <div>
    <h3>{{ header }}</h3>
  </div>
  <div class="fill">
    <button mat-button (click)="onAddButtonClick()">
      <mat-icon>add_circle_outline</mat-icon>
      <span>新任務</span>
    </button>
  </div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>mode_edit</mat-icon>
      <span>修改列表名稱</span>
    </button>
    <button mat-menu-item (click)="onMoveButtonClick()">
      <mat-icon [svgIcon]="'move'"></mat-icon>
      <span>移動本列表所有內容</span>
    </button>

    <button mat-menu-item>
      <mat-icon>delete_forever</mat-icon>
      <span>刪除列表</span>
    </button>
  </mat-menu>
</div>
