<mat-sidenav-container [class.unicorn-dark-theme]="darkTheme">
  <mat-sidenav #sidenav><app-sidebar></app-sidebar></mat-sidenav>
  <mat-sidenav-content>
    <div class="site">
      <header>
        <app-header
          (toggleMenuEmt)="sidenav.open()"
          (toggleThemeEmt)="toggleThemeEmt($event)"
        >
        </app-header>
      </header>
      <main>
        <router-outlet></router-outlet>
      </main>
      <footer>
        <app-footer> </app-footer>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
