<form [formGroup]="form" (ngSubmit)="onSubmit($event, form)">
  <h3 mat-dialog-title>{{ title }}：</h3>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input
        matInput
        type="text"
        placeholder="任務內容"
        formControlName="desc"
      />
    </mat-form-field>
    <mat-radio-group formControlName="priority">
      <mat-radio-button
        *ngFor="let priority of priorities"
        [value]="priority.value"
      >
        {{ priority.label }}
      </mat-radio-button>
    </mat-radio-group>
    <div class="full-width">
      <app-chips-list
        [label]="'更改執行者'"
        [multiple]="false"
        formControlName="owner"
      ></app-chips-list>
    </div>
    <mat-form-field class="full-width">
      <input
        matInput
        type="text"
        placeholder="截止日期"
        [matDatepicker]="dueDatepicker"
        formControlName="dueDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="dueDatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #dueDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        type="text"
        placeholder="提醒日期"
        [matDatepicker]="reminderDatepicker"
        formControlName="reminder"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="reminderDatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #reminderDatepicker></mat-datepicker>
    </mat-form-field>
    <div class="full-width">
      <app-chips-list
        [label]="'更改參與者'"
        [multiple]="true"
        formControlName="followers"
      ></app-chips-list>
    </div>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="備註" formControlName="remark"></textarea>
    </mat-form-field>
    <mat-dialog-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        保存
      </button>
      <button mat-dialog-close mat-button type="button">關閉</button>
    </mat-dialog-actions>
  </div>
</form>
