mat-card {
  height: 28em;
  flex: 0 0 25em;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.text-right {
  margin: 5px;
  text-align: right;
}
