<form #f="ngForm" (ngSubmit)="onSubmit($event, f)">
  <h3 mat-dialog-title>邀請成員：</h3>
  <mat-dialog-content>
    <!-- <mat-form-field class="full-width">
      <input
        matInput
        type="text"
        placeholder="請輸入項目名稱"
        [matAutocomplete]="autoMembers"
      />
    </mat-form-field> -->
    <app-chips-list
      [label]="'邀請成員'"
      name="members"
      [(ngModel)]="members"
    ></app-chips-list>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="!f.valid"
    >
      邀請
    </button>
    <button mat-dialog-close mat-raised-button type="button">關閉</button>
  </mat-dialog-actions>
  <!-- <mat-autocomplete
    #autoMembers="matAutocomplete"
    [displayWith]="displayUsername"
  >
    <mat-option *ngFor="let item of items" [value]="item">{{
      item.name
    }}</mat-option>
  </mat-autocomplete> -->
</form>
